<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>face_id</key>
		<string>000</string>
		<key>face_name</key>
		<string>[smile]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>001</string>
		<key>face_name</key>
		<string>[surprised1]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>002</string>
		<key>face_name</key>
		<string>[grinning]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>003</string>
		<key>face_name</key>
		<string>[laughs]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>004</string>
		<key>face_name</key>
		<string>[angry]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>005</string>
		<key>face_name</key>
		<string>[crying]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>006</string>
		<key>face_name</key>
		<string>[pervert]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>007</string>
		<key>face_name</key>
		<string>[speechless]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>008</string>
		<key>face_name</key>
		<string>[little devil]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>009</string>
		<key>face_name</key>
		<string>[sweat]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>010</string>
		<key>face_name</key>
		<string>[surprised2]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>011</string>
		<key>face_name</key>
		<string>[bitter smile]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>012</string>
		<key>face_name</key>
		<string>[grievance]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>013</string>
		<key>face_name</key>
		<string>[sunglasses]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>014</string>
		<key>face_name</key>
		<string>[sleepy]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>015</string>
		<key>face_name</key>
		<string>[tease]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>016</string>
		<key>face_name</key>
		<string>[kiss]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>017</string>
		<key>face_name</key>
		<string>[blank stare]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>018</string>
		<key>face_name</key>
		<string>[curse]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>019</string>
		<key>face_name</key>
		<string>[doubt]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>020</string>
		<key>face_name</key>
		<string>[eat cookies]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>021</string>
		<key>face_name</key>
		<string>[froze]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>022</string>
		<key>face_name</key>
		<string>[scared1]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>023</string>
		<key>face_name</key>
		<string>[explosion]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>024</string>
		<key>face_name</key>
		<string>[smoking]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>025</string>
		<key>face_name</key>
		<string>[masks]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>026</string>
		<key>face_name</key>
		<string>[applause]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>027</string>
		<key>face_name</key>
		<string>[embarrassed]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>028</string>
		<key>face_name</key>
		<string>[nosebleeds]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>029</string>
		<key>face_name</key>
		<string>[miserable]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>030</string>
		<key>face_name</key>
		<string>[faint]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>031</string>
		<key>face_name</key>
		<string>[sad1]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>032</string>
		<key>face_name</key>
		<string>[awkward]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>033</string>
		<key>face_name</key>
		<string>[sad2]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>034</string>
		<key>face_name</key>
		<string>[laughing]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>035</string>
		<key>face_name</key>
		<string>[crazy]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>036</string>
		<key>face_name</key>
		<string>[spit]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>037</string>
		<key>face_name</key>
		<string>[gold digger]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>038</string>
		<key>face_name</key>
		<string>[shy1]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>039</string>
		<key>face_name</key>
		<string>[yawn]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>040</string>
		<key>face_name</key>
		<string>[scared2]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>041</string>
		<key>face_name</key>
		<string>[beard]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>042</string>
		<key>face_name</key>
		<string>[arrogance]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>043</string>
		<key>face_name</key>
		<string>[work hard]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>044</string>
		<key>face_name</key>
		<string>[grimace]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>045</string>
		<key>face_name</key>
		<string>[black line]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>046</string>
		<key>face_name</key>
		<string>[shut up]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>047</string>
		<key>face_name</key>
		<string>[shy2]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>048</string>
		<key>face_name</key>
		<string>[ill]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>049</string>
		<key>face_name</key>
		<string>[seriously]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>050</string>
		<key>face_name</key>
		<string>[like]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>051</string>
		<key>face_name</key>
		<string>[bye]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>052</string>
		<key>face_name</key>
		<string>[ignore]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>053</string>
		<key>face_name</key>
		<string>[hum]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>054</string>
		<key>face_name</key>
		<string>[thanks]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>055</string>
		<key>face_name</key>
		<string>[hug]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>056</string>
		<key>face_name</key>
		<string>[strong]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>057</string>
		<key>face_name</key>
		<string>[weak]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>058</string>
		<key>face_name</key>
		<string>[handshake]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>059</string>
		<key>face_name</key>
		<string>[fistsalute]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>060</string>
		<key>face_name</key>
		<string>[OK]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>061</string>
		<key>face_name</key>
		<string>[victory]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>062</string>
		<key>face_name</key>
		<string>[seduce]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>063</string>
		<key>face_name</key>
		<string>[love you]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>064</string>
		<key>face_name</key>
		<string>[fist]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>065</string>
		<key>face_name</key>
		<string>[NO]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>066</string>
		<key>face_name</key>
		<string>[bad]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>067</string>
		<key>face_name</key>
		<string>[candle]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>068</string>
		<key>face_name</key>
		<string>[love]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>069</string>
		<key>face_name</key>
		<string>[sun]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>070</string>
		<key>face_name</key>
		<string>[moon]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>071</string>
		<key>face_name</key>
		<string>[watermelon]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>072</string>
		<key>face_name</key>
		<string>[rice]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>073</string>
		<key>face_name</key>
		<string>[Coke]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>074</string>
		<key>face_name</key>
		<string>[ice cream]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>075</string>
		<key>face_name</key>
		<string>[Rose]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>076</string>
		<key>face_name</key>
		<string>[wine]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>077</string>
		<key>face_name</key>
		<string>[medicine]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>078</string>
		<key>face_name</key>
		<string>[popcorn]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>079</string>
		<key>face_name</key>
		<string>[umbrella]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>080</string>
		<key>face_name</key>
		<string>[gift]</string>
	</dict>
	<dict>
		<key>face_id</key>
		<string>081</string>
		<key>face_name</key>
		<string>[clouds]</string>
	</dict>
</array>
</plist>
